.header {
    height: 80px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-size: 30px;
    color: black;
}

.header__button {
}

.main {
    height: 750px;
    display: flex;
}

.content {
    background: #f8f8f8;
    height: 100%;
    color: #fff;
    width: 80%;
}

.sidebar {
    background: #f8f8f8;
    height: 100%;
    color: black;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
}

.group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form {
    list-style: none;
    width: 31%;
    margin-bottom: 20px;
    border: 1px solid black;
}

.form img {
    width: 100%;
}

.item__bottom {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
}

.pagination {
    width: 400px;
    margin: 0 auto;
    color: black;
}
